<!DOCTYPE html>
<html lang="<%= ha(config['app.locale']) %>" xmlns="http://www.w3.org/1999/html">
    <head>
        <%= html.meta(charset: 'utf-8') %>
        <%= html.base(href: env['PATH_INFO'].gsub(%r{/*$}, '') + '/') %>
        <%= html.meta(name: 'viewport', content: 'width=device-width, initial-scale=1.0,minimum-scale=1.0') %>
        <%= html.meta(name: 'csrf-token', content: csrf_token) %>
        <%= html.title(['Unicorn Agency', self.page_title].compact.join(' - ')) %>
        <% # @formatter:off %>
        <% (config['assets.hosts'] || []).each do |host| %>
        <%= html.link(href: host, rel: 'dns-prefetch') unless host.to_s.empty? %>
        <% end %>
        <% # @formatter:on %>
        <%= html.link(href: asset_url('/favicon.ico'), rel: 'icon', type: 'image/x-icon') %>
        <%= html.link(href: asset_url('/css/app.css'), rel: 'stylesheet') %>
        <%= html.script(src: asset_url('/js/app.js')) %>
    </head>
    <body>
        <div id="app">
            <%= erb(:'layout/header') %>
            <main class="container" id="main-column">
                <%= erb(:'layout/notifications') %>

                <%= yield %>
            </main>
            <%= erb(:'layout/footer') %>
        </div>
    </body>
</html>
