<!DOCTYPE html>
<html lang="en">
    <head>
        <%= html.meta(charset: 'utf-8') %>
        <%= html.meta(name: 'viewport', content: 'width=device-width, initial-scale=1.0') %>
        <%= html.title(['Unicorn Agency', self.page_title].compact.join(' - ')) %>
        <%= html.link(href: asset_url('/css/app.css'), rel: 'stylesheet') %>
        <%= html.script(src: asset_url('/js/app.js')) %>
        <%= html.meta(name: 'csrf-token', content: csrf_token) %>
    </head>
    <body>
        <%= erb(:'layout/top-bar') %>
        <div class="callout large primary">
            <div class="row column text-center">
                <h1>Our Blog</h1>
            </div>
        </div>
        <section class="row">
            <div class="columns">
                <%= erb(:'layout/flash') %>
            </div>
        </section>
        <section class="row" id="content">
            <div class="medium-9 columns">
                <section>
                    <%= yield %>
                </section>
            </div>
            <%= erb(:'layout/sidebar') %>
        </section>
        <%= erb(:'layout/footer') %>
    </body>
</html>
