<!DOCTYPE html>
<html lang="en">
    <head>
        <%= html.meta(charset: 'utf-8') %>
        <%= html.meta(name: 'viewport', content: 'width=device-width, initial-scale=1.0') %>
        <%= html.title(['Unicorn Agency', self.page_title].compact.join(' - ')) %>
        <%= html.link(href: asset_url('/css/app.css'), rel: 'stylesheet') %>
        <%= html.script(src: asset_url('/js/app.js')) %>
        <%= html.meta(name: 'csrf-token', content: csrf_token) %>
    </head>
    <body class="grey lighten-3">
        <%= erb(:'layout/top-bar') %>
        <!--Main layout-->
        <main class="mt-5 pt-5">
            <div class="container">
                <!--Section: Post-->
                <section class="mt-4">
                    <!--Grid row-->
                    <div class="row">
                        <%= erb(:'layout/flash') %>

                        <%= yield %>
                    </div>
                </section>
            </div>
        </main>
        <%= erb(:'layout/footer') %>
    </body>
</html>
