<header id="top">
    <div class="navbar is-inline-flex is-transparent">
        <div class="navbar-brand">
            <%= link_to('/', class: 'navbar-item') { 'Unicorn Agency' } %>
        </div>
        <div class="navbar-menu">
            <div class="navbar-item navbar-item_global-search">
                <div class="control has-icons-left">
                    <input name="global-search" id="global-search" class="input is-small" type="search" placeholder="search">
                    <label for="global-search" class="icon is-left is-small">
                        <%= html.span('class': 'icon material-icons') { 'search' } %>
                    </label>
                </div>
            </div>
        </div>
        <div class="navbar-item is-flex-touch">
            <a class="navbar-item">
                <%= html.span('class': 'icon mdi mdi-compass mdi-24px') %>
            </a>
            <a class="navbar-item">
                <%= html.span('class': 'icon mdi mdi-heart-outline mdi-24px') %>
            </a>

            <% if current_user %>
                <%= link_to('/logout', class: 'navbar-item') do
                  html.span('class': 'icon mdi mdi-logout-variant mdi-24px')
                end %>
            <% end %>

            <% unless current_user %>
                <%= link_to('/login', class: 'navbar-item') do
                  html.span('class': 'icon mdi mdi-account-outline mdi-24px')
                end %>
            <% end %>
        </div>
    </div>
</header>
